* Dataframe is most commonly used object in pandas.
**It is a table like datastructure containing rows and columns similar to excel spreadsheet

In [1]:
import pandas as pd
weather_data ={
    'day' :['1/1/2020','1/2/2020','1/3/2020','1/4/2020','1/5/2020','1/6/2020'],        #dict
    'temperature' : [32,35,28,24,32,31],
    'windspeed' : [6,7,2,7,4,2],
    'event' : ['rain','sunny','snow','snow','rain','sunny']
}
df = pd.DataFrame(weather_data)
# df.pd.read_csv("anything.csv")
df

        day  temperature  windspeed  event
0  1/1/2020           32          6   rain
1  1/2/2020           35          7  sunny
2  1/3/2020           28          2   snow
3  1/4/2020           24          7   snow
4  1/5/2020           32          4   rain
5  1/6/2020           31          2  sunny

In [2]:
df.shape       #rows,column =df.shape

(6, 4)

In [3]:
df.head()  #gives only some first rows we can mention the number in paranthesis

        day  temperature  windspeed  event
0  1/1/2020           32          6   rain
1  1/2/2020           35          7  sunny
2  1/3/2020           28          2   snow
3  1/4/2020           24          7   snow
4  1/5/2020           32          4   rain

In [4]:
df.tail()    #gives only some last rows we can mention the number in paranthesis

        day  temperature  windspeed  event
1  1/2/2020           35          7  sunny
2  1/3/2020           28          2   snow
3  1/4/2020           24          7   snow
4  1/5/2020           32          4   rain
5  1/6/2020           31          2  sunny

In [5]:
df[1:3]

        day  temperature  windspeed  event
1  1/2/2020           35          7  sunny
2  1/3/2020           28          2   snow

In [6]:
df['day']  #df.data also

0    1/1/2020
1    1/2/2020
2    1/3/2020
3    1/4/2020
4    1/5/2020
5    1/6/2020
Name: day, dtype: object

In [7]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [8]:
type(df['day'])

pandas.core.series.Series

In [11]:
df[['day','temperature']]

        day  temperature
0  1/1/2020           32
1  1/2/2020           35
2  1/3/2020           28
3  1/4/2020           24
4  1/5/2020           32
5  1/6/2020           31

In [12]:
df['temperature'].max()

35

In [14]:
df[df['temperature']>32]

        day  temperature  windspeed  event
1  1/2/2020           35          7  sunny

In [15]:
df['day'][df['temperature']==df.temperature.max()]  #like sql

1    1/2/2020
Name: day, dtype: object

In [16]:
df[df['temperature']==df.temperature.max()]  #like sql

        day  temperature  windspeed  event
1  1/2/2020           35          7  sunny

In [17]:
df.event.max() # since it is a string only max and min works

'sunny'

In [18]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [19]:
df.set_index('day',inplace=True) #inplace is to change the dataframe permanently if we ignore it then it will give only output don't change
df

          temperature  windspeed  event
day
1/1/2020           32          6   rain
1/2/2020           35          7  sunny
1/3/2020           28          2   snow
1/4/2020           24          7   snow
1/5/2020           32          4   rain
1/6/2020           31          2  sunny

In [20]:
df.index

Index(['1/1/2020', '1/2/2020', '1/3/2020', '1/4/2020', '1/5/2020', '1/6/2020'], dtype='object', name='day')

In [21]:
df.loc['1/5/2020']

temperature      32
windspeed         4
event          rain
Name: 1/5/2020, dtype: object

In [26]:
df.reset_index(inplace=True)
df.head()

   event       day  temperature  windspeed
0   rain  1/1/2020           32          6
1  sunny  1/2/2020           35          7
2   snow  1/3/2020           28          2
3   snow  1/4/2020           24          7
4   rain  1/5/2020           32          4

In [27]:
df.set_index('event',inplace=True)  #building hashmap using keys
df

            day  temperature  windspeed
event
rain   1/1/2020           32          6
sunny  1/2/2020           35          7
snow   1/3/2020           28          2
snow   1/4/2020           24          7
rain   1/5/2020           32          4
sunny  1/6/2020           31          2

In [28]:
df.loc['sunny']

            day  temperature  windspeed
event
sunny  1/2/2020           35          7
sunny  1/6/2020           31          2